@page "/"

<h1 class="page-title">Welcome to WizarD Software Solution HRM Application</h1>
<br />
<h3>Using this application, you can manage our wonderful staff working for us all over the world, developing the best software ever!</h3>
