nav[b-cw6p7iyl30] {
    background-color: #a593c2;
    border-color: #a593c2;
}

#navbarSupportedContent[b-cw6p7iyl30] {
    height: 80px;
}

.navbar[b-cw6p7iyl30] {
    padding: 0;
}

.container-fluid[b-cw6p7iyl30] {
    padding: 25px;
}
